{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{% block title %}{{ 'Attributes group'|trans }} &laquo;{{ group.title }}&raquo; / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    {% include '@UnicatModule/help/attributes.html.twig' %}

    <h3>{{ 'Attributes group'|trans }} &laquo;{{ group.title }}&raquo;</h3>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Is enabled'|trans }}</th>
            <th>{{ 'Is required'|trans }}</th>
            <th>{{ 'Show in'|trans }}</th>
            <th>{{ 'Is dedicated table'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in attributes %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('unicat_admin.attribute', {
                        'configuration': group.configuration.name,
                        'group_name': item.group.name,
                        'name': item.name,
                    }) }}">{{ item.title }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.position }}</td>
                <td>{{ item.isEnabled }}</td>
                <td>{{ item.isRequired }}</td>
                <td>
                    {% if item.showInAdmin %}<span class="label label-danger">admin</span>{% endif %}
                    {% if item.showInList  %}<span class="label label-primary">list</span>{% endif %}
                    {% if item.showInView  %}<span class="label label-success">view</span>{% endif %}
                </td>
                <td>{{ item.isDedicatedTable }}</td>
                <td>{{ item.createdAt|localizeddate() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>

    <h3>Создать новый атрибут</h3>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}}) }}

    {% include '@CMS/_tool/ace_editor.html.twig' with {'form_element': 'unicat_attribute_params_yaml'} %}

{% endblock content %}
