{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{% block title %}{{ parent() }} {% if pagerfanta.haveToPaginate %} [Страница: {{ pagerfanta.currentPage }} из {{ pagerfanta.nbPages }}]{% endif %}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <a href="{{ path('unicat_admin.item_create', {'configuration': configuration.name}) }}" class="btn btn-primary pull-right">
        {{ 'Create record'|trans }}
    </a>

    <h2>{{ 'Records'|trans }}</h2>

    <p>Всего: <b>{{ pagerfanta.count }}</b>
        {% if pagerfanta.haveToPaginate %} &nbsp;&nbsp; Страница: {{ pagerfanta.currentPage }} Записей на страницу: {{ pagerfanta.maxPerPage }}{% endif %}
    </p>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Slug'|trans }}</th>
            {% for attribute in attributes %}
                {% if attribute.showInAdmin %}<th>{{ attribute.title }}</th>{% endif %}
            {% endfor %}
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in pagerfanta %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('unicat_admin.item_edit', {'configuration': configuration.name, 'id': item.id}) }}"{% if item.isDisabled %} style="text-decoration: line-through;"{% endif %}>{{ item.slug }}</a>
                </td>
                {% for attribute in attributes %}
                    {% if attribute.showInAdmin %}
                        <td>
                            <a href="{{ path('unicat_admin.item_edit', {'configuration': configuration.name, 'id': item.id}) }}"{% if item.isDisabled %} style="text-decoration: line-through;"{% endif %}>
                            {% if attribute.type == 'image' %}
                                {{ smart_media_img(item.attribute(attribute.name), '100_100') }}
                            {% else %}
                                {{ item.attribute(attribute.name) }}
                            {% endif %}
                            </a>
                        </td>
                    {% endif %}
                {% endfor %}
                <td>{{ item.createdAt|localizeddate() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagerfanta.haveToPaginate %}
        Страница: {{ pagerfanta.currentPage }} Записей на страницу: {{ pagerfanta.maxPerPage }}
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {'css_container_class': 'pagination pagination-centered', 'proximity': 5}) }}
    {% endif %}

    </div>
</div>

{% endblock content %}
